*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body
{
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #3d1052, #ad5388);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav img{
    user-select: none;
    position: absolute;
    left: 3%;
    top: 0.3rem;
}

.nav-links{
    text-align: left;
}

.nav{
     
    background-color: #20092C;
    height: 112px;
    width:110%;
    text-align: center;
}
.htp:hover ~ .how-to-play
{
    display:block;
    animation:appear 0.5s ease-out 1;
}
@keyframes appear
{
    0%
    {
        filter:blur(10px);
    }
    1%
    {
        opacity:0;
    }
    99%
    {
        opacity:100%;
    }
    100%
    {
        filter:blur(0px);
    }
}
.how-to-play
{
    display:none;
    z-index: 1000;
    width:100vw;
    height: min-content;
    position:absolute;
    left:0;
    top:110px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    color:white;
    text-align: center;
}

.controls-col{
    text-align: center;
    padding: 1rem;

}


.storyline
{
    display:none;
}
.headings h1
{
    font-weight: 350;
    color:rgba(255, 255, 255, 0.545);
    /* display:inline-block; */
}

.headings img{
    position: static;
}

.headings
{
    
    margin-top:30px;
 
}
img[alt = "movements keys"]
{
    height:300px;
    width:300px;
    
    opacity:31%;
}
img[alt = "e-key"]
{
    opacity: 31%;
    
}
img[alt = "f-key"]
{
    opacity: 31%;
    
}
img[alt = "mouse-click"]
{
    opacity: 60%;
    
}
.nav h2
{
    
    color:rgba(255, 255, 255, 0.251);

}
.nav ul{
   
    position: static;
    text-align: center;
}

.nav ul li{
    user-select: none;
    cursor:pointer;
    font-size: 30px;
    color: white;
    opacity: 42%;
    transition: 0.5s;
    padding: 1.7rem 1.5rem;
    display:inline-block;
    list-style: none;
}


.nav ul li a{
    text-decoration: none;
    color: white;

    transition: 0.5s;
}

.nav ul li:hover{
    opacity: 100%;
    transform: scale(1.3);
}
main
{
    position:relative;
}
main h1{
    display: flex;
    position: relative;
    justify-content: center;
    top: 5rem;
    font-size: 3.5rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 4px;
    color: white;
    opacity: 64%;
    text-transform: uppercase;
}
.slider-container
{
    border-radius: 10px;
    margin:0 auto;
    width:60%;
    height:400px;
    position:relative;
    top:100px;
    box-shadow: 2px 1px 40px rgba(0, 0, 0, 0.533);
}
.slider
{
    border-radius: inherit;
   overflow: hidden;
    opacity:0;
    width:100%;
   height:100%;
    position:absolute;
    
}
.slider.active
{
    opacity:1;
    transition:0.9s;
}
.slider img
{
    cursor:pointer;
    border-radius: inherit;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform 0.3s;
}

.slideicon.active{
    transition:0.5s;
    background-color: rgba(255, 255, 255, 0.726);
}

.arrows-container 
{
    visibility: hidden;
    text-shadow: 1px 1px 10px black;
    left:-2.5%;
    width:105%;
    height:20px;
    top:48%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
}
.arrows-container i
{
    visibility:visible;
    color:white;
    cursor: pointer;
    font-size: 70px;
    opacity: 0.4;
    position:relative;
    transition:0.4s;
   
}
.arrows-container i:hover
{
    opacity:0.7;
    
   
}
.slide-icons-container
{
    width:30%;
    height:5%;
    margin: 0 auto;
    top:350px;
    position: relative;
    z-index: 212;
    display:flex;
    justify-content: space-around;
}
.slide-icons-container div
{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.636);
    background-color: rgba(255, 255, 255, 0.379);
    width:20px;
    height:100%;
    border-radius: 100% ;
    
}
.download{
    user-select: none;
    background-color: #38104E;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.504);
    padding: 15px 20px;;
    position:relative;
    color: rgba(255, 255, 255, 0.655);
    font-size: 1.5rem;
    letter-spacing: 7px;
    text-decoration: none;
    margin:0 43%;
    top:130px;
    font-family: 'Inter', sans-serif;
    transition:0.3s;
}
.download:hover 
{
    color:rgba(255, 255, 255, 0.659);
    background-color: #38104e94;
    animation:border 1s linear infinite, text-color 1s linear infinite;
}
.download:active
{
 
    background-color: rgb(0, 0, 0);
}
@keyframes text-color
{
    0%{color:rgb(69, 6, 60);}
    25%{color:purple;}
    50%{color:rgb(152, 9, 168);}
    75%{color:purple;}
    100%{color:rgb(69, 6, 60);}
}
@keyframes border
{
    0%{border:2px solid rgb(57, 4, 49);}
    25%{border:2px solid rgb(156, 11, 156);}
    50%{border: 2px solid rgb(214, 7, 204);}
    75%{border:2px solid rgb(135, 9, 116);}
    100%{border:2px solid rgb(78, 8, 89);}
}
@media only screen and (max-width:1100px)
{
    img[alt = "our logo"]
    {
        left:-3%;
    }
    .nav ul
    {
        left:-3rem;
    }
}